<section class="banner-section">
    <div class="banner-bg bg_img bg-fixed" data-background="/images/banner/banner02.jpg"></div>
    <div class="container">
        <div class="banner-content">
            <h1 class="title bold">
                mua vé <span class="color-theme">xem phim</span> trực
                tuyến
            </h1>
            <p>
                mua trước vé xem phim, tìm thời gian chiếu phim, xem
                trailer, đọc đánh giá phim và hơn thế nữa
            </p>
        </div>
    </div>
</section>

<section class="search-ticket-section padding-top pt-lg-0">
    <div class="container">
        <div class="search-tab bg_img" data-background="/images/ticket/ticket-bg01.jpg">
            <div class="row align-items-center mb--20">
                <div class="col-lg-6 mb-20">
                    <div class="search-ticket-header">
                        <h6 class="category">
                            chào mừng bạn đến với {{appName}}!
                        </h6>
                        <h3 class="title">bạn đang tìm phim gì?</h3>
                    </div>
                </div>
            </div>
            <div class="tab-area">
                <div class="tab-item active">
                    <form class="ticket-search-form">
                        <div class="form-group large">
                            <input type="text" placeholder="Nhập tên phim" />
                            <button type="submit">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                        <div class="form-group">
                            <div class="thumb">
                                <img src="/images/ticket/city.png" alt="ticket" />
                            </div>
                            <span class="type">cụm rạp</span>
                            <select class="select-bar">
                                <option value="london">London</option>
                                <option value="dhaka">dhaka</option>
                                <option value="rosario">rosario</option>
                                <option value="madrid">madrid</option>
                                <option value="koltaka">kolkata</option>
                                <option value="rome">rome</option>
                                <option value="khoksa">khoksa</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <div class="thumb">
                                <img src="/images/ticket/cinema.png" alt="ticket" />
                            </div>
                            <span class="type">rạp</span>
                            <select class="select-bar">
                                <option value="Awaken">Awaken</option>
                                <option value="dhaka">dhaka</option>
                                <option value="rosario">rosario</option>
                                <option value="madrid">madrid</option>
                                <option value="koltaka">kolkata</option>
                                <option value="rome">rome</option>
                                <option value="khoksa">khoksa</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <div class="thumb">
                                <img src="/images/ticket/date.png" alt="ticket" />
                            </div>
                            <span class="type">ngày chiếu</span>
                            <select class="select-bar">
                                <option value="26-12-19">
                                    23/10/2020
                                </option>
                                <option value="26-12-19">
                                    24/10/2020
                                </option>
                                <option value="26-12-19">
                                    25/10/2020
                                </option>
                                <option value="26-12-19">
                                    26/10/2020
                                </option>
                            </select>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="movie-section padding-top padding-bottom">
    <div class="container">
        <div class="row flex-wrap-reverse justify-content-center">
            <div class="col-lg-12 mb-50 mb-lg-0">
                <div class="filter-tab tab">
                    <div class="section-header-2">
                        <div class="left">
                            <h2 class="title">phim</h2>
                            <p>
                                chắc chắn bạn không bỏ lỡ những bộ phim
                                ngày hôm nay !
                            </p>
                        </div>
                        <ul class="tab-menu">
                            <li class="active">tất cả</li>
                            <li>mới công chiếu</li>
                            <li>xem nhiều nhất</li>
                        </ul>
                    </div>
                    <div class="tab-area">
                        <div class="tab-item active">
                            <div class="row mb-10 justify-content-center">
                                {{#each movies}}
                                    <div class="col-sm-6 col-lg-3">
                                        <div class="movie-grid">
                                            <div class="movie-thumb c-thumb">
                                                <a href="/detail/{{this.dataValues.unsignedName}}">
                                                    <img src="/images/movie/poster/poster-{{this.dataValues.poster}}.jpg"
                                                        alt="poster" />
                                                </a>
                                            </div>
                                            <div class="movie-content bg-one">
                                                <h5 class="title m-0">
                                                    <a
                                                        href="/detail/{{this.dataValues.unsignedName}}">{{this.dataValues.name}}</a>
                                                </h5>
                                            </div>
                                        </div>
                                    </div>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                    <div class="pagination-area text-center">
                        <a href="#"><i class="fas fa-angle-double-left"></i><span>trước</span></a>
                        <a href="#" class="active">1</a>
                        <a href="#">2</a>
                        <a href="#">3</a>
                        <a href="#">4</a>
                        <a href="#">5</a>
                        <a href="#"><span>sau</span><i class="fas fa-angle-double-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>