<section class="account-section bg_img" data-background="/images/account/account-bg.jpg">
    <div class="container">
        <div class="padding-top padding-bottom">
            <div class="account-area">
                <div class="section-header-3">
                    <span class="cate"><a href="/">{{appName}}</a> </span>
                    <h2 class="title">đăng nhập</h2>
                </div>
                <form id="login-form" class="account-form" method="POST" autocomplete="off">
                    <div class="form-group">
                        <label class="error" for="email">{{logErr}}</label>
                        <label for="email">email <span>*</span></label>
                        <input type="text" placeholder="Nhập địa chỉ email" id="email" name="email"
                            value="{{rememberEmail}}" />
                    </div>
                    <div class="form-group">
                        <label for="pass">mật khẩu <span>*</span></label>
                        <input type="password" placeholder="Nhập mật khẩu" id="pass" name="pass"
                            value="{{rememberPass}}" />
                    </div>
                    <div class="form-group checkgroup">
                        <input type="checkbox" id="remember" name="remember" {{status}} />
                        <label for="remember">ghi nhớ mật khẩu</label>
                        <a href="/recovery" class="forget">quên mật khẩu</a>
                    </div>
                    <div class="form-group text-center">
                        <input type="submit" value="đăng nhập" />
                    </div>
                </form>
                <div class="option">
                    bạn chưa có tài khoản?
                    <a href="/register">đăng ký ngay</a>
                </div>
                <div class="or"><span>hoặc</span></div>
                <ul class="social-icons">
                    <li>
                        <a href="/login/facebook">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <li>
                        <a href="/login/google">
                            <i class="fab fa-google"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>