<section class="details-banner bg_img" data-background="/images/movie/banner/banner-{{movie.image}}.jpg">
    <div class="container">
        <div class="details-banner-wrapper">
            <div class="details-banner-thumb">
                <img src="/images/movie/poster/poster-{{movie.image}}.jpg" alt="poster" />
                <a href="https://www.youtube.com/watch?v={{movie.video}}" class="video-popup">
                    <img src="/images/movie/icon/video-button.png" alt="play" />
                </a>
            </div>
            <div class="details-banner-content offset-lg-3">
                <h3 id="title" class="title" data-value="{{movie.id}}">{{movie.name}}</h3>
                <a class="button">{{movie.category}}</a>
                <div class="social-and-duration">
                    <div class="duration-area">
                        <div class="item">
                            <i
                                class="fas fa-calendar-alt"></i><span>{{formatDate movie.openingDay 'vi' 'Do MMMM YYYY'}}</span>
                        </div>
                        <div class="item">
                            <i class="far fa-clock"></i><span>{{movie.time}} phút</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="book-section bg-one">
    <div class="container">
        <div class="book-wrapper offset-lg-3">
            <div class="left-side">
                <div class="item">
                    <div class="item-header">
                        <div class="thumb">
                            <img src="/images/movie/icon/director.png" alt="director" />
                        </div>
                        <p>
                            <b>đạo diễn:</b> {{movie.director}}
                        </p>
                    </div>
                </div>
                <div class="item">
                    <div class="item-header">
                        <div class="thumb">
                            <img src="/images/movie/icon/country.png" alt="country" />
                        </div>
                        <p><b>quốc gia:</b> {{movie.country}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="movie-details-section padding-top padding-bottom">
    <div class="container">
        <div class="row justify-content-center flex-wrap-reverse mb--50">
            <div class="col-lg-12 mb-50">
                <div class="movie-details">
                    {{#if movie.MovieImages}}
                        <h3 class="title">hình ảnh</h3>
                        <div class="details-photos owl-carousel">
                            {{#each movie.MovieImages}}
                                <div class="thumb">
                                    <a href="/images/movie/image/movie-{{this.name}}.jpg" class="img-pop">
                                        <img src="/images/movie/image/movie-{{this.name}}.jpg" alt="image" />
                                    </a>
                                </div>
                            {{/each}}
                        </div>
                    {{/if}}
                    <div class="tab summery-review">
                        <ul class="tab-menu">
                            <li class="active">suất chiếu</li>
                            <li>nội dung phim</li>
                        </ul>
                        <div class="tab-area">
                            <div class="tab-item active">
                                <div class="item">
                                    <div class="row">
                                        <form class="col-lg-12 ticket-search-form mb-4 justify-content-start">
                                            <div class="form-group">
                                                <div class="thumb">
                                                    <img src="/images/ticket/city.png" alt="ticket" />
                                                </div>
                                                <span class="type">cụm rạp</span>
                                                <select class="select-bar query-cinemas" name="cinema">
                                                    {{#each cinemas}}
                                                        <option value="{{this.unsignedName}}">
                                                            {{this.name}}
                                                        </option>
                                                    {{/each}}
                                                </select>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="ticket-plan-section">
                                        <div class="row justify-content-center">
                                            <div class="showtimes col-lg-12 mb-5 mb-lg-0">
                                                {{#if cinema}}
                                                    <ul class="seat-plan-wrapper bg-five">
                                                        {{#each cinema.Rooms}}
                                                            <li>
                                                                <div class="movie-name">
                                                                    <div class="icons">
                                                                        <i class="fas fa-film"></i>
                                                                        <i>{{this.RoomType.name}}</i>
                                                                    </div>
                                                                    <a class="name">{{this.name}}</a>
                                                                </div>
                                                                <div class="movie-schedule">
                                                                    {{#each this.ShowTimes}}
                                                                        <div class="item">
                                                                            {{formatDateTime this.time 'vi' 'LT DD [/] MM'}}
                                                                        </div>
                                                                    {{/each}}
                                                                </div>
                                                            </li>
                                                        {{/each}}
                                                    </ul>
                                                {{else}}
                                                    <p>hiện tại không có suất chiếu tại cụm rạp này.</p>
                                                {{/if}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-item">
                                <div class="item">
                                    <h5 class="sub-title">{{movie.name}}</h5>
                                    <p>{{movie.description}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>